*{padding: 0;
margin: 0;
box-sizing: border-box;}
.logoo{border-right: 2px solid #660033;}
nav{background-color:rgba(255, 231, 231,.5)!important;}

.jumbostart{height: 200px!important;
background-color: rgba(255, 231, 231,.5)!important;}

.navbar-nav a{color: #964b00;}

.navbar-nav a:hover{color: #ff6a87;
}
.nav-link:hover .m{color: #660033;}

@media (max-width:768px){.nav-link{width: 65px;

   }}

   @media (max-width:768px){.dropdown-menu a{color: #ffd4d4

   }}

   @media (max-width:768px){.dropdown-menu{width: 550px;
    height: 300px;
border-radius: 8px;
margin-left: 12px!important;
background-color: rgba(137, 68, 21, 0.7)!important;

   }}

.dropdown-menu a:hover{color: #ffcad5;
  background-color: rgba(137, 68, 21)}
.headbtn:hover{background-color: #ffd4d4!important;
color: #660033!important;}

h2{font-family: lora;}
h1{font-family: lora;}
h3{font-family: lora;}
button{font-family: poppins;}

.icn{width: 10vw;
  height: 60vh;
}
.icn i{color: #660033!important;
transition: .5s;}

.icn i:hover{color: #ffd4d4!important;}
.carousel-caption h3{color: #660033;}
.carousel-caption p{color: #964b00;}
.carousel-caption button{background-color: #660033; color: white;
width: 80px;
height: 35px;
border: none;
}
    .carousel-inner img {
        width:100vw;
        height: 100vh;
      }
      .modalbody{height: 250px;
      }
      .best{height: 100px!important;}

.totalcards a{background-color: #660033;
  border: #660033;
color: white;}

.totalcards h4{color: #660033;}
.totalcards p{color:  rgba(137, 68, 21, 0.8);}

.card8 .card::after{ 
content:"";
position: absolute;
top:0;
left: 0;
width:0;
height: 0;
background-color: rgb(192, 30, 108,.2);
transition: 1s;
}

.card8 .card:hover::after{


  content:"";
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height: 100%;


}




.card8 .card::before{ 
  content:"";
  position: absolute;
  bottom:0;
  right: 0;
  width:0;
  height: 0;
  background-color: rgba(137, 68, 21, 0.3);
  transition: 1s;
  }
  
  .card8 .card:hover::before{
  
  
    content:"";
    position: absolute;
    bottom:0;
    right: 0;
    width:100%;
    height: 100%;

  
  }

  @media (max-width:768px){.lastcards{display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    
  
     }}
 
      
.cardout .card:hover{transform: scale(1.1);}
.cardout .card{transition: .5s;}

#podcast h2{color: #660033;}
#podcast p{color:  rgba(137, 68, 21, 0.8);}
#podcast button{background-color: #660033;
  color: white;
transition: 1s;}
#podcast button:hover{background-color: #ffd4d4;}
      
      .trapezoid-dv{position: absolute;
       
        clip-path: polygon(22% 0, 100% 0, 100% 100%, 17% 100%)!important;
        height: 400px;
     
  }

@media (max-width:768px){.trapezoid-dv{position: static!important;
clip-path: none!important;
height: 275px;
;
}}



  .trapezoid-dv2{clip-path: polygon(0 0, 89% 0, 95% 100%, 0 100%)!important;
   position: absolute;
justify-content:start!important;
   height: 400px;
  
   }

   @media (max-width:768px){.trapezoid-dv2{position: static;
    clip-path: none!important;
  height: 275px!important;}}

.picdv{position:absolute!important;
height: 400px;}
    @media (max-width:768px){.picdv{position: static!important;
     height: 300px; }}
  


     @media (max-width:768px){.father{margin: auto!important;
       }}

       @media (max-width:768px){.smpic{
        
        height: 300px!important;
       }}

       @media (max-width:768px){.dad{flex-direction: column-reverse!important;
        background-size: cover!important;
     
       }}

       @media (max-width:768px){.scrol{margin-left: 0!important;
       margin-right: 0px!important;
       width: 100%!important;
       }}



   .square-box{
aspect-ratio: 1/1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
overflow: hidden;
box-shadow:0px 10px   20px  rgba(137, 68, 21, 0.8);}

.square-box .icn1{border-radius: 18px;
  padding: 5px;
  line-height: 75px;
  width: 90px;
color: black;
text-shadow:
-5px -5px 10px rgba(255, 255, 255, 0.2) !important;
background:radial-gradient(closest-side,#1da1f2 80%,black 100%)!important;
box-shadow: 0px 0px 30px rgba(137, 68, 21, 0.7);
   }

   .square-box .icn2{border-radius: 18px;
    padding: 5px;
    line-height: 75px;
    width: 90px;
  color: black;
  text-shadow:
  -5px -5px 10px rgba(255, 255, 255, 0.2) !important;
  background:radial-gradient(closest-side,#25d366 80%,black 100%)!important;
  box-shadow: 0px 0px 30px rgba(137, 68, 21, 0.7);

     }

     .square-box .icn3{border-radius: 18px;
      padding: 5px;
      line-height: 75px;
      width: 90px;
    color: black;
    text-shadow:
    -5px -5px 10px rgba(255, 255, 255, 0.2) !important;
    background:radial-gradient(closest-side,#0a66c2 80%,black 100%)!important;
    box-shadow: 0px 0px 30px rgba(137, 68, 21, 0.7);

       }

       .square-box .icn4{border-radius: 18px;
        padding: 5px;
        line-height: 75px;
        width: 90px;
      color: black;
      text-shadow:
      -5px -5px 10px rgba(255, 255, 255, 0.2) !important;
      background:linear-gradient(to left,black ,#e1306c ,#fd1d1d,#5851db,#833ab4,black 100%)!important;
      box-shadow: 0px 0px 30px rgba(137, 68, 21, 0.7);

         }

footer{box-shadow: 0px 0px 20px  rgba(137, 68, 21, 0.3);}

         footer h2,h3{color: #660033;}
         footer p{color:  rgba(137, 68, 21, 0.8);}
         footer a{color: #e1306c;}
         footer a:hover{color: #ff6a87;}

         .lasticn a{color: #ff6a87;}
         .lasticn a:hover{color: #e1306c;}


         .line{animation: animate 2s ;
        }

      @keyframes animate{
0%{width: 0%;}

100%{width: 350px;
background-color: #ff6a87;}

      }



      .toltip button{
      position: relative;
    cursor: pointer;
  display: block;}

  .toltip .sp1{position: absolute;
  background-color: white;
border:.5px  solid #660033;
border-radius: 0px 10px 10px 10px;
color: #660033;
left: 95%;

min-width: 120px;
min-height: 30px;
padding: 10px ;
top: 40px;
transition: .5s;
display: none;
}


.toltip button:hover{overflow: visible;
  
}
.toltip button:active .sp1{
  display: block;
}
 
.toltip .sp2{position: absolute;
  background-color: white;
border:.5px  solid #660033;
border-radius: 10px 10px 10px 0px;
color: #660033;
left: 95%;

min-width: 120px;
min-height: 30px;
padding: 5px ;
top: -50px;
transition: 1s;
display: none;
}
.toltip button:hover .sp2{
  display: block;
}